<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_game-controller._tcp</string>
		<string>_game-controller._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BalooBhaijaan2-VariableFont_wght.ttf</string>
		<string>Tiny5-Regular.ttf</string>
	</array>
</dict>
</plist>
